@media (max-width:1200px) {
    .main{
        background:#393636;
    }
    .main__list{
        background: #0C0C0C;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 4px;
        height: 548px;
        margin-left: 15px;
        margin-top: 30px;
    }
    .img{
        width: 100%;
    }
    .main__text{
        padding-left: 0px;
    }
    .main__title{
        padding-left: 0px;
    }
    .content-top{
        justify-content: space-around;
    }
    .sozlar{
        width: 75%;
    }
    .header__paragraph{
        margin-right: 61px;
    }
    .header-content{
        justify-content: space-evenly;
    }
}
@media (max-width:992px) {
    
}
@media (max-width:768px) {
    .intro-content{
        padding: 10px;
    }
    .intro__title{
        font-size: 40px;
        margin-bottom: 0;
    }
    .intro__text{
        width: 100%;
        margin-bottom: 10px;
    }
}
@media (max-width:576px) {
    .nav-content{
        flex-direction: column;
        padding: 15px;
    }
    .header__list{
        flex-wrap: wrap;
    }
    .header__link{
        height: 100%;
        margin-bottom: 10px;
    }
    .intro-content{
        height: max-content;
    }
}
